/* Responsive navbar */
@media screen and (max-width: 576px)
{
    nav > div#nav-title {
        flex: 1 1 30vw;
        margin-left: 2vw;
    }
    nav > div#nav-items {
        margin-right: 2vw;
        flex: 1 1 60vw;
        justify-content: space-around;
    }
    nav a {
        font-size: 1rem;
    }
    nav > div#nav-title > a {
    font-size: 1.3rem;
}

}
@media screen and (min-width: 576px) and (max-width: 992px)
{
    nav > div#nav-title {
        margin-left: 5vw;
        flex: 1 1 30vw;
    }
     nav a {
        font-size: 1.5rem;
    }
     nav > div#nav-title > a {
    font-size: 1.8rem;
}
    nav > div#nav-items {
        flex: 1 0 350px;
        margin-right: 0;
        justify-content: space-around;
    }
}
@media screen and (min-width: 992px)
{
    nav > div#nav-items {
        flex: 1 0 500px;
        margin-right: 5vw;
    }
}

/* End Navbar */
/* Responsive Header */
@media screen and (max-width: 576px)
{
    div#header-title {
        padding: 15vh 10vw;
    }

    div#header-title > h1 {
        font-size: 2rem;
    }
    #header-title > h2 {
        font-size: 1.3rem;
        line-height: 1.5;
    }
    #header-title a {
        font-size: .8rem;
        padding: 15px 20px;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px)
{
    div#header-title {
        padding: 15vh 10vw;
    }
    div#header-title > h1 {
        font-size: 2.4rem;
    }
    #header-title > h2 {
        font-size: 1.7rem;
    }
    #header-title a {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    div#header-title {
        padding: 20vh 5vw;
    }
    div#header-title > h1 {
        font-size: 2.8rem;
    }
    #header-title > h2 {
        font-size: 2.1rem;
    }   
    #header-title a {
        font-size: 1.4rem;
    } 
}
/* End Header */
/* Destinations */
@media screen and (max-width: 992px) {
    div#destinations > p {
        padding: 0 5vw;
    }
    div#destinations > p:nth-of-type(2)::after {
        top: 25vh;
        left: 35vw;
    }
}
/* Image gallery */
@media screen and (max-width: 768px) {
    section > div#gallery {
       flex-direction: column;
   }
   div#gallery > figure {
       flex: 1 1 100%;
       margin: 0 0 5vh 0;
   } 
}
/* End Destinations */
/* Tour Packages */
@media screen and (max-width: 768px) 
{
    div#trips {
        flex-direction: column;
    }
}
@media screen and (max-width: 492px) {
    div#tour-packages > p::after {
        top: 350px;
    }
}
@media screen and (min-width: 492px) and(max-width: 576px) {
    div#tour-packages > p::after {
        top: 300px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {    
    
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    div#tour-packages > p::after {
        top: 230px;
    }
}
/* End Tour Packages */
/* Testemonials */
@media screen and (max-width: 768px) {
    section#testemonials > div:nth-of-type(2) {
        flex-direction: column;
    }
    section#testemonials > div#testemonials-header > h3 {
        font-size: 2.1rem;
    }
}
/* End Testemonials */
/* Learn More */
@media screen and (max-width: 760px)
{
    section#learn-more > div#mail-wrapper > form > input[type="email"] {
        margin-bottom: 5vh;
        margin-right: 0;
        padding: 15px 0;
        max-width: 95%;
    }
    section#learn-more > div#mail-wrapper > form > button[type="submit"] {
        font-size: 1.4rem;
    }
}
/* End Learn more */
/* Footer */
@media screen and (max-width: 400px)
{
    footer > div#social-media {
        display: flex;
        flex-direction: column;
        font-size: 8rem;
    }
}