@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    margin:  0;
    font-family: 'Lato', sans-serif;
}
/* Header 100vh */
header {
    height: 100vh;
    background: url('img/mountain.jpg');
    background-size: cover;
}
/* Navbar */
nav {
    display: flex;
    align-items: baseline;
    position: relative;
    top: 3vh;
}
nav a {
    text-decoration: none;
    font-size: 1.3rem;
    word-spacing: .3rem;
    font-weight: 300;
    letter-spacing: .05rem;  
    color: #172835;  
}
nav > div#nav-title {
    flex: 1 10 50vw;
    margin-left: 10vw;
}
nav > div#nav-title > a {
    font-size: 1.5rem;
}
nav > div#nav-items {
    flex: 1 0 30vw;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10vw;
}

/* Responsive navbar */
@media screen and (max-width: 576px)
{
    nav > div#nav-title {
        margin-left: 5vw;
        flex: 1 1 40vw;
    }
    nav > div#nav-items {
        flex: 1 0 200px;
        justify-content: space-between;
        margin-right: 5vw;
    }
    nav a {
        font-size: 1rem;
    }
    nav > div#nav-title > a {
    font-size: 1.3rem;
}

}
@media screen and (min-width: 576px) and (max-width: 992px)
{
    nav > div#nav-items {
        flex: 1 0 300px;
    }
}

/* End Navbar */
/* Header */
div#header-title {
    text-align: center;
    padding-top: 20vh;    
}
#header-title > h1 {
    font-size: 2.5rem;
    margin-bottom: 10vh;
    color: #072842; 
    word-spacing: .5rem;
}
#header-title > h2 {
    text-transform: capitalize;
    margin-bottom: 15vh;
    color: #072842; 
    font-size: 1.8rem;
    word-spacing: .4rem;
}
#header-title a {
    text-transform: uppercase;
    text-decoration: none;
    background: blue;
    color: white;
    border-radius: 5px;
    word-spacing: .2rem;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: .08rem;
    padding: 20px 30px;
}

/* End Header */
/* Destinations */
section {
    margin: 10vh auto;
}
section > div#destinations {
    text-align: center;
}
section > div#destinations > h3 {
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: .08rem;
    word-spacing: .3rem;
}
div#destinations > p {
    font-size: 1.3rem;  
    margin: 10vh auto;  
    position: relative;    
}
div#destinations > p:nth-of-type(2)::after {
    content: "";
    position: absolute;
    top: 20vh;
    left: 40vw;
    width: 20vw;
    border: 1.5px solid red;
    background: red;
}
/* End Destinations Header */
/* Gallery */
section > div#gallery {
    margin-top: 30vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
div#gallery > figure > img {
    width: 100%;
}
div#gallery > figure {
    flex: 1 1 30%;
}
/* End Gallery */
/* Tour Packages */
section#packages {
    background: #eae8f2;
    padding: 8vh 0;
    margin-bottom: 0;
}
section > div#tour-packages {
    text-align: center;
}
section > div#tour-packages > h3 {
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: .08rem;
}
div#tour-packages > p {
    padding: 0 15vw;
    font-size: 1.3rem;  
    line-height: 2.5;
    margin: 10vh auto;  
    position: relative;    
}
div#tour-packages > p::after {
    content: "";
    position: absolute;
    top: 150px;
    left: 40vw;
    width: 20vw;
    border: 1.5px solid lightskyblue;;
    background: lightskyblue;
}

div#trips {
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
div#trips div.trip {
    text-align: center;
}
div.trip {
    padding: 0 5%;
    margin: 10vh auto;
    flex: 1 1 40%;
}
div.trip i {
    font-size: 4rem;
    color: #6f60e0;
}
div.trip h4 {
    font-size: 2rem;
    text-transform: capitalize;
}
div.trip p {
    font-size: 1.3rem;
    line-height: 2.5;
}

/* End Tour Packages */
/* Testemonials */
section#testemonials {
   padding: 8vh 0;
   width: 100%;
   margin: 0 auto;
}
section#testemonials > div#testemonials-header {
    text-align: center;
}
section#testemonials > div#testemonials-header > h3 {
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: .08rem;
    position: relative;
    margin-bottom: 20vh;
}
section#testemonials > div#testemonials-header > h3::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 40vw;
    width: 20vw;
    border: 1.5px solid blue;
    background: blue;
}
section#testemonials > div:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
section#testemonials blockquote.testemonial {
    flex: 1 1 30%;
    text-align: center;
    padding: 0 2vw;
    margin-bottom: 5vh;
}
section#testemonials blockquote.testemonial p {
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 2;
    margin-bottom: 8vh;
}
section#testemonials blockquote.testemonial cite {
    font-style: initial;
    display: block;
    font-size: 1.1rem;
}

/* End Testemonials */
/* Learn More */

section#learn-more {
    text-align: center;
    background: #eae8f2;
    padding: 10vh 0;
    margin: 0 auto;
}
section#learn-more > div#lm-header > h3 {
    text-transform: capitalize;
    font-size: 1.8rem;
    letter-spacing: .08rem;
    word-spacing: .5rem;
    position: relative;
    margin-bottom: 8vh;
    margin-top: 0;
}
section#learn-more > div#lm-header > p {
    position: relative;
    padding: 0 20vw;
    margin-bottom: 25vh;
    font-size: 1.3rem;
    letter-spacing: .05rem;
    line-height: 2;
}
section#learn-more > div#lm-header > p::after {
    content: "";
    position: absolute;
    top: 220px;
    left: 40vw;
    width: 20vw;
    border: 1.5px solid blue;
    background: blue;
}
section#learn-more > div#mail-wrapper > form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
section#learn-more > div#mail-wrapper > form > input[type="email"] {
    font-size: 1.3rem;
    flex: 0 1 300px;
    margin-right: 5vw;
    padding: 13px 10px;
}
section#learn-more > div#mail-wrapper > form > button[type="submit"] {
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    padding: 17px 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: blue;
    color: white;
    font-weight: 700;
}
