@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin:  0;
    font-family: 'Lato', sans-serif;
}
/* Header 100vh */
header {
    height: 100vh;
    z-index: 2;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/mountain.jpg');
    background-size: cover;
    opacity: 0.6;
    z-index: 0;
}
/* Navbar */
nav {
    display: flex;
    align-items: baseline;
    position: relative;
    top: 3vh;
    z-index: 2;
}
nav a {
    text-decoration: none;
    font-size: 2rem;
    word-spacing: .3rem;
    font-weight: 300;
    letter-spacing: .05rem;  
    color: #172835; 
    opacity: 0.6; 
}
nav a:hover {
    opacity: 1;
}
nav > div#nav-title {
    flex: 1 10 50vw;
    margin-left: 10vw;
}
nav > div#nav-title > a {
    font-size: 2.2rem;
}
nav > div#nav-items {
    flex: 1 0 30vw;
    display: flex;
    justify-content: space-around;
    margin-right: 10vw;
}

/* End Navbar */
/* Header */
div#header-title {
    text-align: center;
    padding-top: 20vh;    
    position: relative;
    top: 15vh;
    opacity: 0;
    animation: appear 1.5s forwards;
}
@keyframes appear {
    to {
    transform: translateY(-15vh);
    opacity: 1;
    }
}
#header-title > h1 {
    font-size: 3.2rem;
    margin-bottom: 10vh;
    color: #072842; 
    word-spacing: .5rem;
}
#header-title > h2 {
    text-transform: capitalize;
    margin-bottom: 15vh;
    color: #072842; 
    font-size: 2.5rem;
    word-spacing: .4rem;
}
#header-title a {
    text-transform: uppercase;
    text-decoration: none;
    background: blue;
    color: white;
    border-radius: 5px;
    word-spacing: .2rem;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: .08rem;
    padding: 30px 40px;
}

/* End Header */
/* Destinations */
section {
    margin: 10vh auto;
}
section > div#destinations {
    text-align: center;
}
section h3 {
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: .08rem;
    word-spacing: .3rem;
}
div#destinations > p {
    font-size: 2rem;  
    margin: 10vh auto;  
    position: relative;    
}
hr {
    width: 250px;
    height: 4px;
    border: none;
    background: red;
    margin-bottom: 5vh;   
}
/* End Destinations Header */
/* Gallery */
section > div#gallery {
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
div#gallery > figure > img {
    width: 100%;
}
div#gallery > figure {
    flex: 1 1 30%;
}
/* End Gallery */
/* Tour Packages */
section#packages {
    background: #eae8f2;
    padding: 8vh 0;
    margin-bottom: 0;
}
section > div#tour-packages {
    text-align: center;
}
section > div#tour-packages > h3 {
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: .08rem;
}
div#tour-packages > p {
    padding: 0 15vw;
    font-size: 2rem;  
    line-height: 2.5;
    margin: 10vh auto;  
    position: relative;    
}
hr#tp-divider {
    background: lightskyblue;    
}

div#trips {
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
}
div#trips div.trip {
    text-align: center;
}
div.trip {
    padding: 0 5%;
    margin: 10vh auto;
    flex: 1 1 40%;
}
#trips > div > h4 {
    font-size: 2rem;
    letter-spacing: .08rem;
}
div#trips > div.trip > p {
    font-size: 1.7rem;
    letter-spacing: .05rem;
    word-spacing: .15rem;
}
div.trip i {
    font-size: 6rem;
    color: #6f60e0;
}
div.trip h4 {
    font-size: 2rem;
    text-transform: capitalize;
}
div.trip p {
    font-size: 1.3rem;
    line-height: 2.5;
}

/* End Tour Packages */
/* Testemonials */
section#testemonials {
   padding: 8vh 0;
   width: 100%;
   margin: 0 auto;
}
section#testemonials > div#testemonials-header {
    text-align: center;
}
section#testemonials > div#testemonials-header > h3 {
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: .08rem;
    position: relative;
}
hr#testemonials-divider {
    background: purple;
}
section#testemonials > div:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
section#testemonials blockquote.testemonial {
    flex: 1 1 30%;
    text-align: center;
    padding: 0 2vw;
    margin-bottom: 5vh;
}
section#testemonials blockquote.testemonial p {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2;
    margin-bottom: 8vh;
}
section#testemonials blockquote.testemonial cite {
    font-style: initial;
    display: block;
    font-size: 1.8rem;
}

/* End Testemonials */
/* Learn More */

section#learn-more {
    text-align: center;
    background: #eae8f2;
    padding: 8vh 0 10vh;
    margin: 0 auto;
}
section#learn-more > div#lm-header > h3 {
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: .08rem;
    word-spacing: .5rem;
    position: relative;    
    margin-top: 0;
}
section#learn-more > div#lm-header > p {
    position: relative;
    padding: 0 20vw;
    font-size: 2rem;
    letter-spacing: .05rem;
    line-height: 2;
    margin: 8vh auto;
}
hr#lm-divider {
    background: #25b277;
    margin-bottom: 15vh;
}
section#learn-more > div#mail-wrapper > form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
section#learn-more > div#mail-wrapper > form > input[type="email"] {
    font-size: 2rem;
    flex: 0 1 500px;
    margin-right: 3vw;
    padding: 23px 10px;
}
section#learn-more > div#mail-wrapper > form > button[type="submit"] {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    padding: 25px 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: blue;
    color: white;
    font-weight: 700;
}

/* End Learn More */
/* Footer */
footer {
    background: #414a4f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8vh 5vw;
    text-transform: uppercase;
}
footer > p {
    font-size: 1.5rem;
}
footer > div#social-media {
    order: -1;
    font-size: 6rem;
    margin-bottom: 5vh;
}
footer > div#social-media > a {
    color: white;
    text-decoration: none;
    margin: 0 .5vw;
}
footer > p:first-of-type > a[href="https://www.unsplash.com"] {
    color: #b8f2d0;
    text-decoration: none;
}